.parent{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: url("https://img.freepik.com/premium-vector/vector-perspective-grid-digital-background-retro-style-wireframe-landscape-white-background_658411-442.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.parentkaparent{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 98vw;
    box-sizing: border-box;
}

.image_top{
    height: 100%;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUfBFauXBnHpzhLUkSg-QI3AIfLGLNuBUOxQ&s");
    background-repeat: no-repeat;
    background-size: cover;
}

.image_middle{
    
    background-image: url("https://assets.airtel.in/static-assets/aoi/images/webp/Banner_COCP_mobile_375x220.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.middle_img{
    height: 100%;
    width: auto;
}
