.location-image {
    flex: 1;
    max-width: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }